name: Build & Deploy to Cloud Run (prod)

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.WIF_PROVIDER }}
          token_format: access_token
          service_account: ${{ secrets.GCP_SA_EMAIL }}

      - name: Login to Google Artifact Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.GAR_LOCATION }}-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./build/Dockerfile
          push: true
          tags: |
            ${{ secrets.GAR_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/sensor-repo/sensor-stream-server:latest
            ${{ secrets.GAR_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/sensor-repo/sensor-stream-server:${{ github.sha }}

      - name: Deploy to Cloud Run (prod)
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: sensor-stream-server
          region: ${{ secrets.GCP_REGION }}
          image: ${{ secrets.GAR_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/sensor-repo/sensor-stream-server:${{ github.sha }}
